@charset "UTF-8";
/* Mixin */
/* Set các giá trị với màn hình tương ứng */
p {
  margin-bottom: 0;
}

dl, ol, ul {
  margin-top: 0;
  margin-bottom: 0;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: 0;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", cursive;
}

body {
  overflow-x: hidden;
}

header {
  width: 100%;
  height: auto;
  padding: 40px 0;
  background-size: cover;
  background-repeat: no-repeat;
}
header .row {
  align-items: center;
}
header .header {
  position: relative;
  z-index: 1000;
}
header .header nav {
  width: 100%;
  list-style: none;
  color: #3d2514;
  text-align: right;
}
@media (max-width: 768px) {
  header .header nav {
    position: absolute;
    top: 99%;
    left: 0;
    right: 0;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
            clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }
}
header .header nav a {
  font-size: 24px;
  color: #3d2514;
  text-decoration: none;
  letter-spacing: 0;
  margin-left: 26px;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  header .header nav a {
    display: flex;
    padding: 10px;
    border: 1px solid #000;
    margin-left: 0;
  }
}
@media (min-width: 768px) {
  header .header nav a {
    letter-spacing: 1px;
  }
}
@media (min-width: 992px) {
  header .header nav a {
    letter-spacing: 2px;
  }
}
header .header nav a:hover {
  color: #bf2222;
}
header .header #menu-btn {
  font-size: 28px;
  cursor: pointer;
  color: #3d2514;
  display: none;
  margin: 10px 0;
}
@media (max-width: 768px) {
  header .header #menu-btn {
    display: inline-block;
  }
}
header .header .fa-times {
  transform: rotate(180deg);
}
header .header .active {
  background-color: #fff;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}
header .logo img {
  width: 263px;
  height: auto;
}
@media (max-width: 768px) {
  header .logo img {
    width: 200px;
  }
}
@media (min-width: 768px) {
  header .logo img {
    width: 245px;
  }
}
@media (min-width: 992px) {
  header .logo img {
    width: 263px;
  }
}
header .ship-logo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  color: #3d2514;
  font-weight: 600;
  font-size: 15px;
}
@media (max-width: 768px) {
  header .ship-logo {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  header .ship-logo {
    font-size: 10px;
  }
}
header .ship-logo img {
  width: 41px;
  margin-right: 10px;
}
@media (max-width: 768px) {
  header .ship-logo img {
    width: 30px;
  }
}
@media (max-width: 575px) {
  header .ship-logo img {
    width: 20px;
  }
}
header .header-text {
  text-transform: uppercase;
}
header .header-text p {
  font-size: 16px;
  padding: 10px;
  border: 3px dashed #3d2514;
  width: 100%;
}
@media (max-width: 768px) {
  header .header-text p {
    margin-top: 20px;
  }
}
@media (min-width: 768px) {
  header .header-text p {
    font-size: 16px;
    width: 90%;
    margin-left: 8px;
  }
}
@media (min-width: 992px) {
  header .header-text p {
    font-size: 20px;
    width: 80%;
    margin-left: 8px;
  }
}
header .header-text h1 {
  font-family: sans-serif;
  font-weight: 800;
  font-size: 100px;
  text-shadow: 2px 2px 3px #fff;
}
@media (max-width: 575px) {
  header .header-text h1 {
    font-size: 56px;
  }
}
@media (min-width: 768px) {
  header .header-text h1 {
    font-size: 70px;
  }
}
@media (min-width: 992px) {
  header .header-text h1 {
    font-size: 100px;
  }
}
header .header-text h2 {
  font-family: sans-serif;
  font-weight: 800;
  text-shadow: 2px 2px 3px #fff;
  font-size: 60px;
  margin-left: 8px;
}
@media (max-width: 575px) {
  header .header-text h2 {
    font-size: 40px;
  }
}
@media (min-width: 768px) {
  header .header-text h2 {
    font-size: 50px;
  }
}
@media (min-width: 992px) {
  header .header-text h2 {
    font-size: 60px;
  }
}
header .background-img img {
  width: 100%;
}

.menu {
  width: 100%;
  padding: 40px 0;
}
.menu img {
  width: 100%;
}
@media (max-width: 768px) {
  .menu img {
    padding: 10px 0;
  }
}
.menu .menu-position {
  position: relative;
}
.menu .menu-text {
  position: absolute;
  top: 10%;
  left: 6%;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}
.menu .menu-text h3 {
  font-weight: 600;
  font-size: 24px;
}
@media (max-width: 768px) {
  .menu .menu-text h3 {
    font-size: 26px;
  }
}
@media (min-width: 992px) {
  .menu .menu-text h3 {
    font-size: 36px;
  }
}

.order {
  width: 100%;
  padding: 40px 0;
}
.order p, .order h1 {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
  color: #3d2514;
}
@media (max-width: 575px) {
  .order p {
    font-size: 14px;
  }
}
.order h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-family: sans-serif;
  font-size: 48px;
}
@media (max-width: 575px) {
  .order h1 {
    font-size: 30px;
  }
}
.order .slogan {
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
  background-color: gold;
}
.order .order-burger {
  margin-top: 40px;
  text-align: center;
}
@media (max-width: 768px) {
  .order .order-burger div {
    margin: 40px 0;
  }
}
.order .order-burger h3 {
  text-transform: uppercase;
  font-weight: 600;
}
.order .order-burger button {
  font-family: sans-serif;
  border: none;
  color: #fff;
  background-color: #bf2222;
  text-transform: uppercase;
  font-weight: 600;
  padding: 10px 20px;
}
.order .order-burger img {
  background-size: cover;
  width: 90%;
}

.food-img {
  width: 100%;
  padding: 40px 0;
}
.food-img .food-img-bg {
  position: relative;
  padding: 20px;
  box-shadow: 15px 15px 15px 6px #ccc;
}
.food-img h4 {
  margin-top: 20px;
  text-transform: uppercase;
  font-weight: 600;
}
.food-img h1 {
  font-family: sans-serif;
  text-transform: uppercase;
  font-weight: 800;
}
.food-img p {
  margin-top: 40px;
  font-size: 18px;
}
.food-img img {
  width: 100%;
}
.food-img .food-img-position {
  display: flex;
  position: absolute;
  bottom: 5%;
  left: 60px;
}
.food-img .food-img-position div {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: #ccc;
  margin: 0 4px;
}

.contact-us {
  width: 100%;
  padding: 40px 0;
}
.contact-us p, .contact-us h1 {
  width: 100%;
  text-align: center;
  color: #3d2514;
  font-size: 26px;
}
.contact-us h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-family: sans-serif;
  margin-bottom: 20px;
  font-size: 48px;
}
@media (max-width: 768px) {
  .contact-us h1 {
    font-size: 36px;
  }
}
.contact-us .contact-us-input div {
  padding: 10px;
  text-align: center;
}
.contact-us .contact-us-input input {
  width: 70%;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border-color: #ccc;
}
.contact-us .contact-us-input .contact-us-button {
  background-color: #bf2222;
  color: #fff;
  font-weight: 600;
}

footer {
  width: 100%;
}
footer .footer-logo {
  width: 25%;
}
footer .footer {
  background-image: url(./img/background-footer.png);
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  padding: 40px;
  padding-bottom: 0;
}
footer .footer .row {
  margin: 40px 0;
}
footer .footer p {
  margin: 10px 0;
  width: 100%;
}
@media (max-width: 768px) {
  footer .footer p {
    font-size: 14px;
    margin: 20px 0;
  }
}
footer .footer .footer-copyright {
  padding: 10px 0;
  margin: 0;
}
@media (max-width: 575px) {
  footer .footer .footer-copyright {
    text-align: center !important;
  }
}
footer .footer .social-network {
  text-align: right;
}
@media (max-width: 575px) {
  footer .footer .social-network {
    text-align: center;
  }
}
footer .footer .social-network img {
  width: 20px;
  margin-left: 5px;
}/*# sourceMappingURL=styles.css.map */